mixin sRews(data)
	// start sRews
	+b.SECTION.sRews.section#sRews&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Отзывы
				
			+e.slider--js.splide
				+control()
				.splide__track
					.splide__list
						- for (var x = 0; x < 3; x++)
							mixin item(t,p, n)
								+e.slide.splide__slide
									+e.item
										+e.title= t
										p= p
										+e.footer
											+e.img-wrap
												+img("img/rew.jpg")
											+e.name= n
							+item(`уютная атмосфера`,`Посетила косметолога Викторию, она сделала супер очищение и подобрали правильный уход, уже вижу результат, состоянием кожи улучшилось. Довольна сервисом в целом, встречают радушно, очень чисто в клинике, легко записаться! Ставлю 5 заслуженно`,`Екатерина Ильина`)

							+item(`Лучшая клиника в москве`,`Посещаю клинику второй раз. Всегда вежливый отзывчивый персонал. Очень чисто и комфортно. Врач Вера Колузакова сделала чистку быстро и пилинг лица,ответила на все мои вопросы. Очень понравилось. Рекомендую место, записалась уже на следующее посещение.`,`Дарья Мальцева`)

							+item(`Прекрасное обслуживание`,`Прекрасное обслуживание, уютная атмосфера и стильный интерьер ! Безумно благодарна Светлане за спасение моего лица от акне и постакне! Шикарный специалист, мастер своего дела, тактичная, элегантная и прятная в общении доктор ,обожаю и люблю всем сердцем и душой!`,`Валерия Петрова`)

	// end sRews