mixin sContent(img)
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		if img
			+e.content-img
				+img('img/sContent-img-4.jpg', 'bg')
		.container
			block
		+e.container.container
			+e.btn.btn.btn-dark(href='#'): span Записаться
	// end sContent