include ../../layout/include.pug

+b.modal-win
	+e.product-wrap
		+e.img-wrap: .img-wrap-center: +img('img/product-modal-img-1.png')
		+e.wrap
			.h2 СПРЕЙ УКРЕПЛЯЮЩИЙ С МЕДЬЮ, 75 МЛ
			.h4 COPPER FIRMING MIST
			+e.desc Описание
			p Освежающий легкий спрей, который мгновенно смягчает и&nbsp;наполняет кожу влагой. Укрепляет и&nbsp;регулирует естественный баланс кожи благодаря сочетанию меди, которая является незаменимым микроэлементом в&nbsp;организме человека, и&nbsp;L-PCA кислоты растительного происхождения, регулирующей работу сальных желез за&nbsp;счет уменьшения выработки кожного сала. Прекрасно подходит для сухой и&nbsp;обезвоженной кожи, при солнечных ожогах или в&nbsp;качестве постпроцедурного ухода.
			+e.price 5 000 руб
			+e.btn.btn.btn-dark(href='#'): span Купить
	