mixin sPrice(data)
	// start sPrice
	+b.SECTION.sPrice.section#sPrice&attributes(attributes)
		+e.container.container
			mixin ddGroupContent()
				mixin tr(text, price)
					tr
						td: p!=text
						td!= price
						td: a(href='modal/call.html' data-type="ajax" data-fancybox) Записаться 
				+e.wrap
					.h4.mono Гигиеническая чистка лица
					table
						+tr('Удаление милиумов (ручное) - до 10 элементов - 1 шт', '1 000 рублей')
						+tr('Сухая чистка / механическая чистка - 30-60 мин', '1 000 рублей')
						+tr('Атравматичная чистка лица GiGi (женская) - 60 мин', '4 500 рублей')
						+tr('Ультразвуковая чистка лица (женская) - 60 мин', '4 000 рублей')
						+tr('Комбинированная чистка лица (женская) - 60-90 мин', '5 500 рублей')
				+e.wrap
					.h4.mono Химические пилинги
					table
						+tr('Удаление милиумов (ручное) - до 10 элементов - 1 шт', '1 000 рублей')
						+tr('Сухая чистка / механическая чистка - 30-60 мин', '1 000 рублей')
						+tr('Атравматичная чистка лица GiGi (женская) - 60 мин', '4 500 рублей')
						+tr('Ультразвуковая чистка лица (женская) - 60 мин', '4 000 рублей')
						+tr('Комбинированная чистка лица (женская) - 60-90 мин', '5 500 рублей')
			+ddGroup()
				+ddGroupItem('Терапевтическая косметология')
					+ddGroupContent
				+ddGroupItem('Эстетическая косметология')
					+ddGroupContent
				+ddGroupItem('Капельницы здоровья и&nbsp;красоты')
					+ddGroupContent
				+ddGroupItem('Инъекционная косметология')
					+ddGroupContent
				+ddGroupItem('Аппаратная косметология')
					+ddGroupContent
	// end sPrice