 
	  
.soc{
	@include roww(12px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		color: $primary;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.iconC{
		// font-size: rem(44); 
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	// margin-right: rem(32);
}


.page-head{
	@include media-breakpoint-up(md) {
		.breadcrumb {
			margin-bottom: rem(40);
		}
		padding-top: rem(40);
		margin-bottom: rem(56);
	}
	padding-top: 16px;
	margin-bottom:30px;
	text-align: center;
	h1{
		margin-left: auto;
		margin-right: auto;
		max-width: rem(700);
		line-height: 1;
		margin-bottom: 0;
	}
	p {
		font-size: 18px;
		font-family: $font-family-monospace;
		margin-bottom: 0;
		line-height: 1.33;
		margin-top: 32px;
		@include media-breakpoint-up(md) {
			font-size: rem(24);
			margin-top: rem(40);
		}
	}
}

.dd-group {
	&__item {
		&.active {
			.icon {
				transform: rotateX(180deg);
			}
		}
	}
	&__head {
		@include mt;
		cursor: pointer;
		p {
			margin-bottom: 0;
		}
		.icon {
			@include mt;
		}
	}
	&__content {
		display: none;
		&.active {
			display: block;
		}
	}
}

.default-slider {
	@include media-breakpoint-up(sm) {
		margin-bottom: rem(70);
	}
	@include media-breakpoint-up(md) {
		margin-bottom: rem(96);
	}
	.splide {
		overflow: visible;
		// padding-top: 80px;
		// max-width: var(--sliderMW);
		margin-left: -20px;
		margin-right: -20px;
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(30);
			// margin-left: auto;
			// margin-right: auto;
		} 
		@include media-breakpoint-up(md) {
			margin-bottom: rem(56);
		} 
		@include media-breakpoint-up(lg) {
			// margin-left: -40px;
			// margin-right: -40px;
			// padding-top: 0;
			padding-bottom: 60px;
		}
	}
	--color-control: #D7D7D7;
	.slider-control{
		bottom: 0;
 	}
	.splide__track {
		overflow: visible;
		max-width: var(--sliderMW);
		margin-left: auto;
		margin-right: auto;
	}
	&__img-wrap {
		text-align: center;
		cursor: pointer;
		// @include block(558, 375);
		// @include media-breakpoint-up(sm) {
		// 	--ratio: 964/531;
		// }
	}
	&__container {
		@include media-breakpoint-down(md) {
			--bs-gutter-x: 0;
		}
	}
	&__btn {
		--bs-btn-font-size: 14px;

		display: block;
		width: 100%;
		span {
			border-bottom: 1px solid currentColor;
		}
		&:hover {
			span {
				border-bottom-color: transparent;
			}
		}
		@include media-breakpoint-down(lg) {
			--bs-btn-padding-y: 28.5px;
		}
		@include media-breakpoint-up(md) {
			margin-left: auto;
			margin-right: auto;
			max-width: rem(720);
		}
	}
}